body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
        display: inline-block;
        padding: 20px 40px;
        font-size: 30px;
        font-family: "Amatic SC";
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: maroon;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px rgb(82, 19, 19);
        margin-left: 100px;
      }
      
  button:hover {background-color: red}
      
  button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
  
  
  #game-board {
    float: left;
    padding: 20px 0px;
    background-image: url("/images/floor.jpg");
    background-size: contain;
    border: 2px solid black;
    border-radius: 10px;
  }


  .game-history {
      background-color: #FFFFE099;
      border: 1px solid black;
      font-family: "Amatic SC";
      display: flex;
      margin-left: 1000px;
      width: 350px;
      height: 220px;
      font-size: 22px;
      font-weight: 200;
      color: black;
      align-content: stretch;
      border-radius: 5px;
  }

  body {
      background-image: url(/images/zombies.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }

  h1 {
      margin-left: 110px;
      font-family: "Amatic SC";
      font-size: 50px;
      text-shadow: 2px 2px red;
  }

  h1:hover {color: red}
      
  h1:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
  
  footer {
      color: white;
      margin-right: 40px;
  }    

  #score-div {
      font-family: "Amatic SC";
      margin-right: 60px;
      font-size: 30px;
      text-shadow: 2px 2px white;
  }

